language: php
php:
  - 5.3

branches:
  only:
    - master

before_script:
  - composer self-update
  - sudo 'ln -s vendor/bin/webforge /usr/local/sbin/webforge'
  - COMPOSER_ROOT_VERSION=dev-master composer install --dev --prefer-source --no-interaction

script: phpunit -c phpunit.travis.xml

notifications:
  irc: "irc.freenode.org#webforge"
  mail: p.scheit@ps-webforge.com