<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./bootstrap.php"
>
    <testsuites>
        <testsuite name="Webforge">
            <directory suffix="Test.php">./tests/Webforge</directory>
        </testsuite>
    </testsuites>

    <listeners>
      <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
    
    <groups>
      <exclude>
        <group>acceptance</group>
      </exclude>
    </groups>

    <filter>
      <whitelist addUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">lib</directory>
        <exclude>
          <!--<file>class\Psc\PHP\Parser.php</file>-->
        </exclude>
      </whitelist>
    </filter>
</phpunit>